.formulario{
    margin-top: 75px;
    text-align: center;
    padding: 40px;
    color: white;
    background-color: #313131;
    margin-left: 500px;
    width: 750px;
    border-radius: 30px;
     
}

.formulario div{
    text-align: left;
    margin-left: 75px; 
}

.botones {
    margin-left: 1255px;
}